img.video-thumb {
  max-width:100%;
}

.truncate-text{
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.right-border {
  border-left: 1px solid rgb(238, 238, 238);
}

#refresh-location-img{
  margin-right: 10px;
  margin-bottom: 3px;
}

.main-video {
  margin-bottom: 30px;
}

.bg-danger.location-header{
  color: rgb(217, 83, 79);
  padding-left:3px;
  padding-right:3px;
  vertical-align: middle;
}

#sidebar-header-text{
  white-space: nowrap;
}

.main-video-header{
  margin-bottom:10px;
}

.sidebar-header {
  margin-bottom:12px;
}

.meta-video > .h6 {
  margin-top: 2px;
  color: #777;
}

.video-title.h5{
  margin-top: 2px;
}

.video-title.h5 > a {
  color: black;
}

.request-location {
  margin-top: 130px;
  text-align: center;
}

.request-location > .h1 {
  font-size: 63px;
}

.grant-permission-btn {
  margin-top:35px;
}

h1.title{
  font-size:42px;
}

body {
  padding-top: 45px;
}