img.video-thumb {
  max-width:100%;
}

.truncate-text{
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.right-border {
  border-left: 1px solid rgb(238, 238, 238);
}

.main-video {
  margin-bottom: 30px;
}

.bg-danger.location-header{
  color: rgb(217, 83, 79);
  padding-left:3px;
  padding-right:3px;
}

.main-video-header{
  margin-bottom:10px;
}

.meta-video > .h6 {
  margin-top: 2px;
  color: #777;
}

.video-title.h5{
  margin-top: 2px;
}

.video-title.h5 > a {
  color: black;
}

body {
  padding-top: 45px;
}